<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<p>
    If you want to start using Free or paid weather API, please read ‘How to start and operate with API more efficiently’.

If you are ready to subscribe to our paid plans, please read ‘No-fuss subscription to our weather services’ first.

Please read Terms and conditions of sale, Privacy policy, and Websites terms and conditions of use of use before you buy.

Licenses we use for data and services.

If you are an Enterprise license holder you can request for expanded features, customisation, configuration of APIs, and more exclusive support. For more details, please contact us.

More than ever, our customer support team is at your side to answer all your questions and respond to your needs in the best possible way.

If you do not find answers to your questions about purchasing process, subscriptions, products, please look at our comprehensive FAQ or contact our customer support team.
</p>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>